.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 10px;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.calculator{
    border: solid 5px;
    padding: 5px;
    width: 300px;
}

#disp{
    width: 95%;
    height: 50px;
    font-size: 20px;
    border: solid 1px;
    color: brown;
    font-weight: bold;
    text-align: right;
}